* {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
  height: calc(var(--vh, 1vh) * 100);
}

header {
  background-image: url('../../ressources/css/koepfe.jpg');
  background-size: cover;
  padding-top: 2%;
  padding-bottom: 0%;
  margin: 2.5%;
}

nav {
  padding-bottom: 35%;
}

a {
  font-size: clamp(0.4rem, 2vw, 1.75rem);
}

h2 {
  font-weight: 700;
  font-size: clamp(1rem, 2.5vw, 2rem);
}

h1 {
  font-weight: 700;
  font-size: clamp(1rem, 2.5vw, 2rem);
}

h4 {
  font-weight: 700;
  font-size: clamp(1rem, 2.5vw, 2rem);
}

footer {
  padding-top: 0%;
  padding-bottom: 1%;
  border: 1%;
  margin: 0.03%;
}

.col {
    padding: 50px;
  }

.malerei {
  font-weight: 700;
  font-size: 1.5em;
}

@media only screen and (max-width: 480px) {
  #body{width: 100%;}
  #header{width: 100%;}
  /*#main h1{width: 100%; font-size: 30%;}
  #main h2{width: 100%; font-size: 30%;}
  #main h4{width: 100%; font-size: 30%;}*/
  #a {width: 100%;}
  
}