/* Default styles for all screens */
* {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body img:hover {
    transform: scale(1.05); /* Vergrößern beim Darüberfahren */
}

/* Header styles */
header {
    margin-top: 50px;
}

header .row {
    display: flex;
    align-items: center;
}

#bytrix {
    margin: 0;
    font-weight: 700;
    text-align: left;
    color: black;
    text-decoration: none;
}

#bytrix:hover {
    text-decoration: underline;
    color: red;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header .navi {
    font-size: clamp(1rem, 2vw, 3rem);
    padding: clamp(0.7rem, 3vw, 2rem);
    color: black;
    margin: 0;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}

/* Jumbotron styles */
.jumbotron {
    margin-top: 0;
}

/* Main content styles */
h2 {
    font-weight: 700;
    font-size: clamp(0.75rem, 1.5vw, 1.5rem);
    margin-top: 150px;
}

main h1 {
    font-weight: 700;
    font-size: clamp(0.7rem, 2.75vw, 3.5rem);
}

h4 {
    font-weight: 700;
    font-size: clamp(0.7rem, 1.25vw, 1.25rem);
    margin-bottom: 150px;
}

#carouselExampleControls {
    height: 100%;
    width: 70%;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
}

/* Footer styles */
footer {
    padding-bottom: 1%;
    margin: 0.03%;
}

.col {
    padding: 50px;
}

.malerei {
    font-weight: 700;
    font-size: 1.5em;
}

.artist-row {
    align-items: center; /* Vertically center the content */
}

/* Fotopräsentation */
.artist-image {
    padding-top: 70px;
    image-rendering: optimizeSpeed;
    transition: transform 0.3s; /* Animation bei Hover hinzufügen */
}

/* Textformatierung */
.artist-description {
    line-height: 1.7; /* Zeilenabstand erhöhen */
    font-size: 18px; /* Schriftgröße etwas erhöhen */
    color: #333; /* Dunklerer Text */
}

.artist-content {
    text-align: left;
    padding-left: 20px;
}

.review-title {
    font-size: 1.4em;
    font-weight: 500;
    margin-bottom: 20px;
}

.review-list li {
    padding: 10px; /* Ein bisschen Polsterung */
    margin-bottom: 10px; /* Abstand zwischen den Einträgen */
    border-radius: 8px; /* Abgerundete Ecken */
    list-style-type: none;
}

.review-list a {
    color: black; /* Akzentfarbe für Links */
    font-weight: bold; /* Fetten Text für Links */
}

.review-list a:hover {
    color: red;
}

/* Style for the "Contact Us" link */
.contact-link {
    font-weight: bold;
    font-size: 18px;
    color: black;
    padding: 10px 20px; /* Add padding to make it look nicer */
    text-decoration: none; /* Remove underline from the link */
}


/* Responsive styles for screens with a maximum width of 480px */
@media only screen and (max-width: 480px) {
    /* Modify styles for smaller screens here */
    #bytrix {
        text-align: center; /* Center the text for small screens */
    }

    header nav {
        justify-content: center; /* Center-align navigation links */
    }

    header .navi {
        font-size: 2rem; /* Adjust font size for smaller screens */
    }

    .artist-content {
        padding-top: 20px;   /* Fügt etwas Abstand zwischen Bild und Text hinzu */
        text-align: center;  /* Zentriert den Text */
    }

    .reviews {
        margin-top: 20px;
    }
}
