/* Default styles for all screens */
* {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Header styles */
header {
    margin-top: 50px;
}

header .row {
    display: flex;
    align-items: center;
}

#bytrix {
    margin: 0;
    font-weight: 700;
    text-align: left;
    color: black;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header .navi {
    font-size: clamp(0.5rem, 2vw, 3rem);
    padding: clamp(0.7rem, 3vw, 2rem);
    color: black;
    margin: 0;
    text-decoration: none;
}

a:hover {
    color: rgb(128, 128, 128);
}

/* Jumbotron styles */
.jumbotron {
    margin-top: 0;
}

/* Main content styles */
h2 {
    font-weight: 700;
    font-size: clamp(0.75rem, 1.5vw, 1.5rem);
    margin-top: 150px;
}

main h1 {
    font-weight: 700;
    font-size: clamp(0.7rem, 2.75vw, 3.5rem);
}

h4 {
    font-weight: 700;
    font-size: clamp(0.7rem, 1.25vw, 1.25rem);
    margin-bottom: 150px;
}

#carouselExampleControls {
    height: 100%;
    width: 70%;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
}

/* Footer styles */
footer {
    padding-bottom: 1%;
    margin: 0.03%;
}

.col {
    padding: 50px;
}

.malerei {
    font-weight: 700;
    font-size: 1.5em;
}

.artist-row {
    align-items: center; /* Vertically center the content */
}

.artist-image {
    display: block;
    max-width: 100%;
    margin-right: 20px;
}

.artist-content {
    text-align: left;
    padding-left: 20px;
}

.reviews {
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
}

.review-title {
    font-size: 1.4em;
    font-weight: 500;
    margin-bottom: 20px;
}

.review-list {
    list-style-type: none;
    padding-left: 0;
}

.review-list li {
    margin-bottom: 8px;
    font-size: 0.9em;
}

.review-list a {
    color: #007bff;
    text-decoration: underline;
}

.review-list a:hover {
    color: #0056b3;
}

/* Style for the "Contact Us" link */
.contact-link {
    font-weight: bold;
    font-size: 28px;
    color: darkred;
    border: 2px solid darkred; /* Add a dark red border */
    border-radius: 50%;
    padding: 10px 20px; /* Add padding to make it look nicer */
    text-decoration: none; /* Remove underline from the link */
}


/* Responsive styles for screens with a maximum width of 480px */
@media only screen and (max-width: 480px) {
    /* Modify styles for smaller screens here */
    #bytrix {
        text-align: center; /* Center the text for small screens */
    }

    header nav {
        justify-content: center; /* Center-align navigation links */
    }

    header .navi {
        font-size: 2rem; /* Adjust font size for smaller screens */
    }

    .artist-content {
        padding-top: 20px;   /* Fügt etwas Abstand zwischen Bild und Text hinzu */
        text-align: center;  /* Zentriert den Text */
    }

    .reviews {
        margin-top: 20px;
    }
}
